# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
build/
dist/
*.spec


# Virtual environment
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE/project files
.vscode/
.idea/
*.iml

# Misc
*.bak
*.swp
